:root{
--logoSize: 500%;
--logoYOffset: 25%;
--scaleSize: 1.03;
--transitionTime: 0.2s;
--FontSize: 50px;
}

body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #272526;
}

.content{
  color:white;
}



.welcome_banner{
  margin-top: -100px;
  margin-left: -20px; /* Wegen scrollbar rechts*/
  width: 100vw;
}



.twitch_jersey{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 20%;
  /* border: 3px solid black; */
  }

.twitch_jersey div{
 display: inline;
 /* border: 3px solid green; */
}



.split_results{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20%;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 15px;
  max-width: 100%;
  box-sizing: border-box;
 }
 
 .split_results td, th{
   border: 3px solid #000000;
 }
 
 .split_results th{
   background-color: #65909066;
 }
 
 .split_results td:nth-child(odd), tr:nth-child(even){
   background-color: #a6f9f97e;
 }
 
 .split_results td:nth-child(even), tr:nth-child(odd){
   background-color: #17c60e7e;
 }

 
table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  font-size: 2.5vw;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px){
  .header{
    font-size: 50px;
  }
  th,td{
    font-size: 24px;
  }

}



.team_grid{
  border-radius: 20px;
  color:white;
  font-family: "Bebas Neue", sans-serif;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 8px;
  height: 45vh;
}

.grid-itemA{
  background-color: black;
  border-radius: 20px 0px 0px 20px;
  background-image: url("/media/Logos/IBTC4.png");
  background-size: var(--logoSize);
  background-repeat: no-repeat;
  background-position: -2.5% var(--logoYOffset);
  transition: var(--transitionTime);
  position: relative;
  text-align: center;
  font-size: var(--FontSize);
  
}

.grid-itemA:before{
  content: 'IBTC';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-itemB{
  background-color: black;
  background-image: url("/media/Logos/IBTY4.png");
  background-size: var(--logoSize);
  background-repeat: no-repeat;
  background-position: 23% var(--logoYOffset);
  transition: var(--transitionTime);
  position: relative;
  text-align: center;
  font-size: var(--FontSize);
}

.grid-itemB:before{
  content: 'IBTY';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-itemC{
  background-color: black;
  background-image: url("/media/Logos/IBTG4.png");
  background-size: var(--logoSize);
  background-repeat: no-repeat;
  background-position: 49% var(--logoYOffset);
  transition: var(--transitionTime);
  position: relative;
  text-align: center;
  font-size: var(--FontSize);
}

.grid-itemC:before{
  content: 'IBTG';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-itemD{
  background-color: black;
  background-image: url("/media/Logos/IBTA4.png");
  background-size: var(--logoSize);
  background-repeat: no-repeat;
  background-position: 75% var(--logoYOffset);
  transition: var(--transitionTime);
  position: relative;
  text-align: center;
  font-size: var(--FontSize);
}

.grid-itemD:before{
  content: 'IBTA';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-itemE{
  background-color: black;
  border-radius: 0px 20px 20px 0px;
  background-image: url("/media/Logos/ICE4.png");
  background-size: var(--logoSize);
  background-repeat: no-repeat;
  background-position: 100.5% var(--logoYOffset);
  transition: var(--transitionTime);
  position: relative;
  text-align: center;
  font-size: var(--FontSize);
}

.grid-itemE:before{
  content: 'ICE';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid-itemA:hover, .grid-itemB:hover, .grid-itemC:hover, .grid-itemD:hover, .grid-itemE:hover{
  cursor: pointer;
  transform: scale(var(--scaleSize));
  transition: var(--transitionTime);
}


.header{
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 20px;
}