/* NAVBAR */
  
body{
    margin:0;
  }
  nav{
    position: fixed; /* Lässt Navbar beim Scrollen oben kleben */
    top:0px; /* Notwendiger Parameter für sticky position */
    width: 90vw; /* Navbar Breite */
    font-size: 2.3rem; /* Navbar Textgröße (nicht für "Socials") */
    font-family: "Roboto condensed", serif; /* Navbar Textfont (nicht für "Socials") */
    display: flex; /* Verwenden von Flexbox für Layout */
    justify-content: space-between; /* Platzieren der Elemente gleichmäßig mit Platz dazwischen */
    align-items: center; /* Vertikales Zentrieren der Elemente */
    background-color: #000000; /* Hintergrundfarbe der Navbar */
    padding: 10px 20px; /* Innenabstand der Navbar */
    background: linear-gradient(to bottom, #00000080, #ffffff00); /* Verlaufshintergrund für Navbar */
    backdrop-filter: blur(1rem); /* Hintergrund Blur effekt für Navbar */
    z-index: 2;
  }
  
  .nav-element{
    font-family: "Roboto condensed", serif; /* Textfont für "Socials" und Dropdown Elemente */
    font-size: 1.3rem; /* Textgröße für "Socials" und Dropdown Elemente */
    color: #ffffff; /* Textfarbe weiß */
    
    text-decoration: none; /* Keine Unterstreichung des Textes */
    padding: 6px 6px; /* Innenabstand für bessere Klickfläche */
    display: inline-block; /* Block-Level-Element */
    text-align: center; /* Zentriert den Text */
    background-color: transparent; /* Transparenter Hintergrund */
    border: none; /* Kein Rahmen */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
    border-radius: 16px; /* Rundet Ecken ab */
    line-height: 30px;
  }
  
  .nav-element:hover,.nav-icon:hover,.nav-logo:hover{
    background-color: #cd295d3c; /* Hintergrund farbe beim Hover */
    border-radius: 3rem;
  }
  
  .nav-seperator{
    color: #cd295d; /* Seperator Farbe */
    font-weight: bolder; /* Macht Seperator dicker */
    padding-bottom: 5px; /* Innenraumgröße */
    
  }

  nav a, nav button{
    font-family: "Roboto condensed", serif;
    font-size: 1.3rem;
    color: #ffffff;
    
    text-decoration: none;
  }
  
  .nav-icon,.nav-logo{
    vertical-align: middle;
  }
  
  .nav-icon{
    border-radius: 16px; /* Rundet Ecken ab */
    height: 30px; /* Max Höhe */
    padding:6px; /* Innenraumgröße */
    display: inline-block; /* Block-Level-Element */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
  }
  
  .nav-logo{
    border-radius: 16px; /* Rundet Ecken ab */
    height: 60px; /* Max Höhe */
    padding:0px; /* Innenraumgröße */
    display: inline-block; /* Block-Level-Element */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
    }



    .dropdown{
      float: none;
      overflow: hidden;
    }
  
    .dropdown .dropbtn{
      border: none;
      outline: none;
      color: white;
      background-color: #00000000;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #1f1d1e;
      min-width: auto;
      box-shadow: 0px 8px 16px 0px #00000033;
      z-index: 1;
      border-radius: 1rem;
      transform: translateY(6px); /* Zusätzlicher visueller Abstand */
    }
  
.dropdown-content-img{
  width: 20px;
  height: 20px;
  vertical-align:middle;
  padding-bottom: 5px;
}

    .dropdown-content a {
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-radius: 1rem;
    }

    .dropdown .dropbtn:hover{
      cursor: pointer;
    }
  
    .dropdown-content a:hover {
      background-color: #cd295d;
      cursor: pointer;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
      cursor: pointer;
    }