body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #272526;
}

.content{
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
  margin-top: 5px;
  margin-left: 10%;
  margin-right:10%;
}

.image-container {
  width: 100%;
  cursor: pointer;
  background-color: #1f1d1e;
  border-radius: 10px;
  transition: transform .3s;
  /*
  border: 3px solid red;
  */
}

.image-container:hover{
  background-color: #cd295d;
  transform: scale(1.01);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-detail {
  color: white;
  backdrop-filter: blur(35px);
  background-color: #16151500;
  font-size: 30px;
  text-align: center;
  border-radius: 16px;
  width: 30%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 2;
  
}

.profile-detail .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: transform .3s;
}
.close:hover{
  transform: rotate(90deg) scale(1.2)
}

.profile-detail-playername{
  background-color: #1f1d1e;
  border-radius: 36px;

  font-size: 200%;
  font-family: "Bebas Neue", sans-serif;
}

.profile-detail-text{
  font-size: 80%;
  margin-top: -5%;
  font-family: "Roboto Condensed", sans-serif;
}

.profile-detail-roles{
  background-color: #1f1d1e;
  border-radius: 16px;

  font-size: 90%;
  font-family: "Bebas Neue", sans-serif;
}

.riotlink{
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.riotlink:hover{
  color: rgb(210, 210, 210);
}

.profile-detail-socials-grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
gap: 16px;
margin-top: 10px;
justify-content: center;
}

.profile-detail-socials-grid-item{
  transition: transform .3s;
} 

.profile-detail-socials-grid-item:hover{
  transform: scale(1.15);
}

.youtube:hover {
  filter: brightness(0) saturate(100%) invert(19%) sepia(88%) saturate(7500%) hue-rotate(358deg) brightness(103%) contrast(120%);
}
.instagram:hover{
  filter: brightness(0) saturate(100%) invert(18%) sepia(88%) saturate(5312%) hue-rotate(334deg) brightness(101%) contrast(106%);
}
.twitch:hover{
  filter: brightness(0) saturate(100%) invert(42%) sepia(98%) saturate(1202%) hue-rotate(241deg) brightness(104%) contrast(101%);
}
.twitter:hover{
  filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(5019%) hue-rotate(168deg) brightness(96%) contrast(90%);
}
.tiktok:hover{
  filter: brightness(0) invert(0);
}

.gameplan-container{
  color: white;
  border-radius: 26px;
  padding: 20px;
  margin: auto;
  background-color: #1f1d1e;
  
}
.gameplan-header{
font-family: "Bebas Neue", sans-serif;
font-size: 200%;
}
.gameplan-item{
font-family: "Roboto Condensed", sans-serif;
font-size: 150%;
background-color: #161515;

}
.gameplan-item-content{
padding:20px
}