/* Stil für den Trennzeichen zwischen Menüelementen */
.menuSeparator {
  color: #cd295d;
  font-size: 25px;
  padding-bottom: 5px;
}

/* Stil für die gesamte Navbar */
.navbar {
  position: sticky; /* Lässt Navbar beim Scrollen oben kleben */
  top: 0px; /* Notwendiger Parameter für sticky position */
  font-size: 15px; /* Navbar Textgröße (nicht für "Socials") */
  font-family: "Roboto condensed", serif; /* Navbar Textfont (nicht für "Socials") */
  display: flex; /* Verwenden von Flexbox für Layout */
  justify-content: space-between; /* Platzieren der Elemente gleichmäßig mit Platz dazwischen */
  align-items: center; /* Vertikales Zentrieren der Elemente */
  background-color: #333; /* Hintergrundfarbe der Navbar */
  padding: 10px 20px; /* Innenabstand der Navbar */
  background: linear-gradient(
    to bottom,
    #00000080,
    #ffffff00
  ); /* Verlaufshintergrund für die Navbar */
  backdrop-filter: blur(10px); /* Hintergrund Blur effekt für Navbar */
  z-index: 10;

  /* Für absolute Zentrierung des Logos */
  position: relative;
}

/* Stil für die linken und rechten Abschnitte der Navbar */
.navbar-left,
.navbar-right {
  display: flex; /* Verwenden von Flexbox für Layout */
  align-items: center; /* Vertikales Zentrieren der Elemente */
}

/* Stil für den mittleren Abschnitt der Navbar (LOGO zentriert im Bildschirm) */
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Stil für die Navigationslinks und den Dropdown-Button */
.nav-item,
.dropbtn {
  font-family: "Roboto condensed", serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

/* Stil für das Logo */
.logo {
  height: 60px;
}

.logo:hover {
  transform: scale(1.2);
  border-radius: 60px;
}

/* Socials icons im Socials Dropdown */
.icons {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-bottom: 5px;
}

/* Dark/Lightmode toggle icon */
.togglemode {
  margin-left: 40%;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  transition: 0.1s;
  margin-top: 13%;
}

/* Dark/Lightmode toggle icon bei Hover */
.togglemode:hover {
  transform: rotate(180deg);
}

/* Stil bei Hover über Navigationslinks und Dropdown-Button */
.nav-item:hover,
.dropbtn:hover {
  background-color: #cd295d;
  border-radius: 16px;
}

/* Stil für das Dropdown-Menü */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Stil für den Inhalt des Dropdown-Menüs */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1d1e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  border-radius: 16px;
}

/* Stil für die Links im Dropdown-Menü */
.dropdown-content a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Stil bei Hover über Links im Dropdown-Menü */
.dropdown-content a:hover {
  background-color: #cd295d;
  border-radius: 16px;
}

/* Stil für die Anzeige des Dropdown-Inhalts bei Hover über den Dropdown-Container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Stil bei Hover über den Dropdown-Button */
.dropdown:hover .dropbtn {
  background-color: #cd295d;
  border-radius: 16px;
}

/* Aktives Element in Navbar */
.activ {
  background-color: #cd295d;
  box-shadow: 0px 0px 10px 2px #cd295d;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}

/* Stil für den Hauptinhalt der Seite */
.content {
  text-align: center;
  color: white;
}
